results/
perfect_poscar/
_results/
_reference_cif/
__pycache__
home/

restructure_0.051_Li6PS5Cl_type5_trial/
restructure_0.051_Li6PS5Cl_type5_trial_wo_weirdos/
file_loc_important_cols_0.051_Li6PS5Cl_type5_trial.pkl
04_important_outputs_map2type2_8.0_0.051_Li6PS5Cl_type5_trial_sorted.xlsx
04_important_outputs_map2type2_8.0_0.051_Li6PS5Cl_type5_trial.xlsx