results/
perfect_poscar/
_results/
__pycache__/
home/
./06_distance_LitoLi_intracage_litype4.xlsx
./06_distance_LitoLi_intracage_litype4_meanref.xlsx
./06_distance_LitoLi_intracage_litype4_ori.xlsx
./06_distance_LitoLi_intratriad_litype4.xlsx
./06_distance_LitoLi_intratriad_litype4_meanref.xlsx
./06_distance_LitoLi_intratriad_litype4_ori.xlsx