results/
perfect_poscar/
_results/
home/
./06_distance_LitoLi_intracage_litype4.xlsx
./06_distance_LitoLi_intracage_litype4_meanref.xlsx
./06_distance_LitoLi_intracage_litype4_ori.xlsx
./06_distance_LitoLi_intratriad_litype4.xlsx
./06_distance_LitoLi_intratriad_litype4_meanref.xlsx
./06_distance_LitoLi_intratriad_litype4_ori.xlsx

0/
1/
2/
3/
4/
5/
6/
7/
8/
restructure_0.051_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin/
restructure_0.1_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin/
restructure_0.051_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin_100structures/
restructure_0.051_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin_400K/
restructure_0.051_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin_800K/
restructure_0.051_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin_init_system/
restructure_0.051_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin_298K/
restructure_0.051_Li6PS5Cl_copy/
restructure_0.051_Li6PS5Cl_oldreplace/
restructure_0.051_Li6PS5Cl_newreplace/
restructure_intracage/
toten_finals.ods

results_nonpackages/
results_packages/
results_backups/

restructure_0.043_Li6PS5Cl_optitype1n2_strictr_a_type4_weirdo1_var2_opti_zoomedin/
restructure_0.043_Li6PS5Cl_type0_init/
restructure_0.051_Li6PS5Cl_type4/
